body {

	padding-top: 50px;
}

.edit-2 {

	margin-top: 50px;
}

.edit-3 {

padding-top: 160px;
padding-bottom: 160px;


}

.contact1 {

	margin-top: 40px;
}
.edit-4 {

padding-top: 100px;
padding-bottom: 100px;


}